{% extends "layout.html" %}
{% block nav %}
    <nav class="navbar navbar-expand navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                Challenge
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="row mt-5">
        <div class="col-lg-6 offset-lg-3">
            <p>Hello Chello.</p>
        </div>
    </div>
{% endblock %}